.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  background-image: url("./../../resources/bigangle.png");
  background-size: auto;
}
.login .filter {
  z-index: -1;
  background-repeat: repeat-y;
  background-size: cover;
  filter: blur(4px);
  position: absolute;
  width: 100%;
  height: 100%;
}
.login-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 30%;
  padding-left: 50px;
  /* margin-left: 5%; */
  background-color: #47b6b1;
  border-radius: 30px 30px 0 30px;
  box-shadow: 0 0 5px 1px #286663 !important;
}
.login-fields {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.login-logo {
  margin-right: 15%;
  font-size: 64px;
  color: #333;
  font-family: ethnocentric !important;
}
.login-logo h4 {
  font-size: 16px;
}
input.p-inputtext:enabled:focus {
  box-shadow: 0 0 3px 2px #295364 !important;
}
.login .field {
  background-color: #29536446;
  width: 100%;
  color: #1a2436;
  border: none;
}
.login .fieldWrapper {
  margin: 10px 0;
  width: 100%;
}
.login label {
  color: #1a2436;
  font-weight: lighter;
  font-size: 15px;
}
button.p-button {
  color: #47b6b1;
  background-color: #1d3b47;
  border: none;
  font-size: 18px;
}
button.p-button:enabled:focus {
  box-shadow: none;
}
button.p-button:enabled:hover {
  color: #1d3b47;
  border-color: #295364;
  background-color: #2953649a;
}
.p-dropdown-trigger {
  background-color: #1d3b47 !important;
  color: #47b6b1 !important;
}
.p-dropdown-label {
  color: #1d3b47 !important;
  background-color: #2953641a !important;
}
.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none !important;
}
