network/organizations/peerOrganizations/
network/organizations/fabric-ca/
!network/organizations/fabric-ca/*/fabric-ca-server-config.yaml
network/channel-artifacts/
log.*
glode-channel.block
*.tar.gz
dist
node_modules
wallet
