network/organizations/peerOrganizations/
network/organizations/fabric-ca/
!network/organizations/fabric-ca/*/fabric-ca-server-config.yaml
network/channel-artifacts/
vars.txt
glode-channel.block
fabcar.tar.gz
chaincode/*/node_modules
dist
node_modules
wallet
