body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: ethnocentric;
  src: url("./resources/ethnocentric_rg.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border-radius: 3px !important;
}
.p-component-overlay {
  background-color: transparent !important;
}

.dropdown-wrapper .p-dropdown {
  width: 100%;
  border: 1px solid lightseagreen !important;
}
.dropdown-wrapper .p-dropdown .p-dropdown-item,
.dropdown-wrapper .p-dropdown .p-dropdown-label {
  text-align: center;
}
.dropdown-wrapper .p-dropdown-trigger,
.dropdown-wrapper .p-dropdown-trigger-icon {
  background-color: lightseagreen !important;
  color: white !important;
}
.dropdown-wrapper
  .p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item.p-highlight,
.dropdown-wrapper
  .p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item-group.p-highlight {
  background-color: lightseagreen;
  color: white;
}
.dropdown-wrapper .p-dropdown:not(.p-disabled).p-focus,
.dropdown-wrapper .p-dropdown:not(.p-disabled):hover,
.dropdown-wrapper .p-dropdown:not(.p-disabled) input:focus {
  border: 1px solid lightseagreen !important;
  box-shadow: 0 0 0 1px lightseagreen !important;
}
