.booking-filters {
  width: 100%;
  height: 100%;
  border: 1px solid darkgray;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 10px 0;
}

.booking-filters div:first-of-type {
  height: 60%;
}
.p-float-label label {
  font-size: 14px;
}
.p-float-label input {
}
.booking-filters .dropdown-wrapper {
  min-width: 18%;
}
.p-float-label input.p-inputtext:enabled:focus {
  box-shadow: 0 0 3px 2px lightseagreen !important;
}
.booking-filters .button-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
.booking-filters button {
  height: 50%;
  padding: 0 10px;
}
