.navbar-container {
  width: 100%;
  height: 100%;
  background-color: #47b6b1;
  padding-bottom: 0;
}
.navbar {
  height: 100%;
}
.navbar-list {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

li.navbar-listItem {
  /* transform: rotate(-45deg); */
  font-weight: bold;
  list-style: none;
  width: 100%;
  padding: 20px 0;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}
li.navbar-listItem a {
  color: #333;
}
li.navbar-listItem hr {
  color: white;
  background-color: white;
  width: 150%;
}
li.navbar-listItem a:hover {
  color: rgba(51, 51, 51, 0.555);
}
